<div class="application-content" (click)="openApp()">

  <div class="application-modification-all" *ngIf="parameterService.parameters | async">
    <div class="application-modification" (click)="edit($event, application)">
      <img src="assets/images/draw.svg" alt="edit">
    </div>

    <div class="application-suppression" style="font-size: 30px" (click)="remove($event, application.id)" >
      X
    </div>
  </div>
  <img [src]="imagesFolder + '/' + application.image" [alt]="application.name">
  <p class="text">{{application.name}}</p>
</div>
