@import './variables.scss';
@import './global.scss';

html {
  height: 100%;
  font-size: 1.9em;
  letter-spacing: 1px;
  color: whitesmoke;
  overflow: hidden;
}

* {
  font-family: "Roboto Thin", sans-serif;
  outline: none;
}

body, .container-after-titlebar {
  padding: 50px;
  background-color: $background-color;

  // titlebar
  .titlebar {
    background-color: transparent !important;
    .menubar, .window-title {
      opacity: 0;
      height: 1px;
    }
  }
}

#container {
  height: 100%;
  display: block;
}

/* -- application -- */
#application-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($application-size, 1fr));
  gap: 100px;
}

/* -- application -- */
.application {
  width: $application-size;
  height: $application-size;
  background-color: $application-color;
  border-radius: 20px;
  box-shadow: 4px 4px 0 2px #000518;
  text-align: center;
  cursor: pointer;
  user-select: none;
  position:relative;
  animation: blow-up-modal 0.20s ease-in-out;

  .application-modification-all {
    font-weight: 400;
    display: flex;
    top: 0;
    right: -10px;
    height: 130px;
    position: absolute;
    flex-direction: column-reverse;
    justify-content: space-between;

    .application-modification, .application-suppression {
      border-radius: 50px;
      cursor: pointer;
      height: 55px;
      width: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: application-show 0.5s ease-in-out forwards;
      &:hover {
        filter: brightness(150%);
        transform: scale(1.3, 1.3) translate(23%, -23%) !important;
      }
    }

    .application-modification {
      background-color: $orange-color;
      img {
        height: 20px;
        width: 20px;
      }
    }

    .application-suppression {
      background-color: $red-color-light;
    }
  }
  .application-content {
    img {
      height: calc(#{$application-size} / 1.6);
      width: calc(#{$application-size} / 1.6);
      display: block;
      margin: 20px auto;
    }
    .text {
      margin-bottom: 20px;
      margin-top: 0;
    }
  }

  &:active {
    box-shadow: none;
    filter: brightness(90%);
  }
  &:hover {
    filter: brightness(90%);
  }
}

/* -- app-footer -- */
app-footer {
  position: fixed;
  bottom: 25px;
  width: 1000px;
  right: 50px;

  /* -- app-parameters -- */
  app-parameters {
    cursor: pointer;
    float:right;
    margin-right: 120px;
    visibility: hidden;

    .parameters {
      height: 100px;
      justify-content: flex-end;
      align-items: flex-end;
      border-radius: 20px;
      margin: 0;
    }

    .parametersDisplay {
      display:flex;
      animation: parameters-show 0.5s ease-in-out forwards;
    }

    .parametersDisplayOut {
      animation: parameters-hide 0.5s ease-in-out forwards;
    }
  }

  .parametersClick {
    transition: all 0.7s ease-in-out;
    transform: rotate(90deg) scale(1.8, 1.8);
  }

  .parameters {
    button {
      height: 85px;
      &:hover {
        transform: scale(1.1)
      }
      img {
        height: 35px;
        width: 35px;
      }
    }
    .edit-btn img{
      height: 40px;
      width: 40px;
    }
  }

  #parameters-icon {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 80px;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    height: $parameter-img-size;
    width: $parameter-img-size;
  }
}

/* -- app-add-edit-modal -- */
app-add-edit-modal {

    // using a pseudo-element class to not affect child opacity
  .bg-modal::before {
    content: "";
    height: 100%;
    width: 100%;
    background: $background-color;
    opacity: 0.85;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 50;
  }

  .modal {
    top: 7%;
    left: 7%;
    height: 86%;
    width: 86%;
    margin: 0;
    padding: 10px 30px;
    position: fixed;
    box-sizing: border-box;
    opacity: 1;
    z-index: 100;
    border-radius: 10px;
    background: $background-color;
    box-shadow: 0 0 10px black;
    animation: blow-up-modal .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
    display: grid;
    gap: 50px;
    grid-template-columns: 10% 20% 20% 20%;
    grid-template: "title title title" 10%
                   "img-preview form form" 65%
                   ". . validate" 10% / 1fr 1fr 1fr;

    .title {
      grid-area: title;
      font-size: 30px;

      .remove {
        position: absolute;
        right: 0;
        top: 0;
        padding: 15px;
        height: 35px;
        width: 35px;
        text-align: center;
        cursor: pointer;

        &:hover {
          background: $red-color-light;
          filter: brightness(95%);
          border-radius: 0 10px 0 10px;
        }
      }
    }

    .img-preview {
      grid-area: img-preview;
      align-self: center;
      justify-self: center;
      box-shadow: 0 0 2px 2px #000518;
      border-radius: 5px;

      img {
        height: 25vw;
        width: 25vw;
        padding: 20px;
        box-sizing: border-box;
      }
    }

    form {
      height: 100%;
    }

    .form {
      grid-area: form;
      margin: auto 0;

      .div-form {
        .error {
          font-size: 15px;
          text-align: center;
          color: $red-color-light;
        }

        label {
          margin-bottom: 10px;
        }

        input {
          color: whitesmoke;
          letter-spacing: 5px;
        }

        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: nowrap;
        margin-bottom: 100px;
        height: 50px;
      }
    }

    .validate {
      grid-area: validate;
      button {
        float: right;
        margin: 0;
      }
    }
  }
}

/* -- slider -- */
#slider-div {

  input.slider {
    border-radius: 50px;
  }

  position: fixed;
  width: 500px;
  height: 80px;
  bottom: 130px;
  padding: 5px 20px;
  border-radius: 20px;
  background: #101116;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    padding: 5px;
    font-size: 25px;
  }
}

/* -- parameters keyframes -- */
@keyframes parameters-show {
  0%   {transform: translateX(100px);opacity:0;}
  100% {transform: translateX(0px);opacity:1;}
}

@keyframes parameters-hide {
  0%   {transform: translateX(0);opacity:1;}
  99%  {transform: translateX(100px) scale(1);opacity:0}
  100% {transform: translateX(100px) scale(0);opacity:0}
}

@keyframes blow-up-modal {
  0%   {transform:scale(0);}
  100% {transform:scale(1);}
}

/* -- modification keyframes -- */
@keyframes application-show {
  0%   {
    opacity:0;
    transform: scale(1.1,1.1) translate(25%, -25%);
  }
  40% {
    opacity:0.6;
    transform: scale(1.3,1.3) translate(25%, -25%);
  }
  100% {
    opacity:1;
    transform: scale(1.1,1.1) translate(25%, -25%);
  }
}
