$background-color: #191c24;
$application-color: #282e40;

$complete-white-color: #FFFFFF;
$complete-black-color: #070707;
$black-color: #2f3241;
$black-color-upper: #1d1e28;
$white-color: #FBF9FF;
$red-color: #B80C09;
$red-color-light: #dd0400;
$orange-color: #e88800;
$green-color: #28a745;
$blue-color: #1286f4;
$grey-color: #a3a3a3;

$application-size: 250px;
$parameter-img-size: 50px;

@media screen and (max-width: 768px) {
  $application-size: 20px;
}
